.button {
  font-family: "galacti_condensed_ffcregular";
  font-size: 2em;
  padding: 15px 30px;
  font-weight: 900;
  color: var(--text-button);
  background-color: var(--accent);
  border: 2px solid var(--accent);
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;
}

.button:hover {
  color: var(--accent);
  background-color: transparent;
}
