:root {
  direction: rtl;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background: white;
  --background-secondary: rgb(248, 248, 248);
  --text-primary: black;
  --text-button: white;
  --text-secondary: grey;
  --accent: #f50057;
}

[data-theme="dark"] {
  --background: #242424;
  --background-secondary: black;
  --text-primary: white;
  --text-button: white;
  --text-secondary: var(--text-secondary);
  --acent: var(--accent);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@font-face {
  font-family: "galacti_condensed_ffcregular";
  src: url("galacticondensed-regular-ffc-web.woff2") format("woff2"),
    url("galacticondensed-regular-ffc-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 50%;
  border-radius: 6px;
}
